* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}



body {
    padding-top: 100px;
  background-color: rgb(41, 42, 41);
  color: #ffffff;
}

header {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #4d066d;
  color: #ffffff;
}

.Project1 {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color:#2fe9a2;
}
.title {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0;
}

.introImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.introScreen {
  margin-bottom: 40px;
}

.overview {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.projectDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.continue {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.goal {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.problemStatement {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.process {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.processDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.research {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.insights {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.insightsList {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.inform {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.informDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.appDiagram {
    display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: 1rem;
}

.diagramImage {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.uiDesign {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.designDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.appImages {
    display: flex;
  justify-content: center;
  align-items: center;
}

.keyy {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.igor1 {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.igor2 {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.imgg{
    display: flex;
  justify-content: center;
  align-items: center;
  
}

.imggg{
    display: flex;
  justify-content: center;
  align-items: center;
 
}

.igor3 {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.contrib {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.contribDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.sol {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.solDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.outc {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.outcomeDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.pers {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.persDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.thanks {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  
}

.thanks a {
  display: inline-block;     
  padding: 10px 20px;        
  background-color: #6d57eb; 
  color: white;             
  text-decoration: none;     
  border-radius: 8px;      
  font-weight: bold;
}

.thanks a:hover {
  background-color: #0e3c64; 
}

.Project2 {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color:#2fe9a2;
}

.title2 {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0;
  margin-bottom: 2rem;
}

.overv {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.projDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.probl {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.probStatement {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.pr {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}   
.procDescription {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.ui {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.oleg1 {
    display: flex;
  justify-content: center;
  align-items: center;
}
.oleg2 {
    display: flex;
  justify-content: center;
  align-items: center;
  
}
.oleg3 {
    display: flex;
  justify-content: center;
  align-items: center;
  
}
.oleg4 {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.contrr {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.conttr {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.comes {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.outcc{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.reft {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.reflec {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.thankss {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.thankss a {
  display: inline-block;     
  padding: 10px 20px;        
  background-color: #6d57eb; 
  color: white;             
  text-decoration: none;     
  border-radius: 8px;      
  font-weight: bold;
}

.thankss a:hover {
  background-color: #0e3c64; 
}

.btn1, .btn2 {
  display: inline-block;     
  padding: 10px 20px;        
  background-color: #6d57eb; 
  color: white;             
  text-decoration: none;     
  border-radius: 8px;      
  font-weight: bold;
}

.btn1:hover {
  background-color: #0e3c64; 
}
.btn2:hover {
  background-color: #0e3c64; 
}
